.body-main { 
    padding-top: var(--navbar-height);
    padding-bottom: 3rem;
  }

.section{
    padding: 0rem;
    
}

.header-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightsteelblue;
}
.header-main img{
  align-items: baseline;
  height: 50vh;
  margin: 0rem;
  padding: 0rem;
}
.header-main > p{
  font-weight: bold;
  text-align: center;
  font-style: normal;
  font-size: 2rem;
  color: darkblue;
  margin: 0rem;
  padding: 0rem;
}


#espectaculo{
 background-color:transparent;
 transform: translate(0%,-750%);
 font-weight: bold;
 text-align: center;
 font-size: 2rem;
 color: white;

}

/*Lo duplicamos para que en el móvil cuadre sobre la imágen*/
#espectaculo2{
  background-color:transparent;
  transform: translate(0%,-200%);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: white;
 
 }

.section h1{
  margin: 0rem;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  font-size: 2rem;
  color: darkblue;
  background-color: lightsteelblue;
  padding: 1rem;
}

#film-final{
  width: 100vw;
  margin-top: 1rem;
}


.flexbox-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.imagen-ppal{
  height: 500px;
  align-items: center;
  object-fit: cover;
  object-position: center top;
  margin-bottom:18.5rem;

}

.img-detalle{
  height: 500px;
  width: 400px;
  align-items: center; 
  padding: 0.5rem;
  object-fit: cover;
  object-position: center top;
  
}
.detalle{
  height: 500px;
  width: 400px;
  align-items: center; 
  padding: 0.5rem;
  object-fit: cover;
  object-position: center top;
}

/* Aquí deberemos tratar el texto descriptivo de la pelicula*/
.texto-imagen {
  visibility: visible;
  opacity: 1;
  display: flex;
  overflow: scroll;
  text-align: left;
  padding: 1rem;
  margin: 1rem;
  background-color: black;
  color: white;
  width: 384px;
  height: 300px;
  transform: translate(-2%, -25px);

}

/*Para ajustar la posición de la estrella en el móvil lo duplicamos*/
.favorito{
  color: red;
  visibility: visible;
  opacity: 1;
  position: relative;
  display: inline-block;
  overflow: scroll;
  text-align: left;
  bottom: 0;
  right: 0;
  background-color: transparent;
  opacity: 100%;
  width: 2rem;
  height: 2rem;
  transform: translate(1000%, -2500%)
}


strong{
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
  
}


@media (min-width: 768px) {
  
  .flexbox-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
  }
  
  .imagen-ppal{
    height: 500px;
    align-items: center;
    object-fit: cover;
    object-position: center top;
    margin-bottom: 2rem;
  }


  .texto-imagen {
    visibility: visible;
    opacity: 0;
    display: flex;
    overflow: scroll;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    background-color: grey;
    color: white;
    width: 300px;
    height: 400px;
    transform: translate(0%, -480px);
  }
  
  .texto-imagen:hover {
    visibility: visible;
    transition: 2s;
    opacity: 0.8;
  }

  .favorito{
    color: red;
    visibility: visible;
    opacity: 1;
    position: relative;
    display: inline-block;
    overflow: scroll;
    text-align: left;
    bottom: 0;
    right: 0;
    background-color: transparent;
    opacity: 100%;
    width: 2rem;
    height: 2rem;
    transform: translate(850%, -2850%)
  }
  
  .favorito:hover{
    transition: 1s;
    opacity: 0;
    ;
  }
  #espectaculo2{
    background-color:transparent;
    transform: translate(0%,-750%);
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: white;
   
   }

}