.body-main {
    margin-top: var(--navbar-height);
    padding-top: var(--navbar-height);
    padding-bottom: 3rem;
  }

.seccion{
    padding: 1rem;
}

/* .div-carrusel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
} */
/* .carrusel-lista{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
} */

.carrusel-elementos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 50%;
  align-self: stretch;
}

.img-detalle{
  height: 300px;
  align-self: stretch;
  padding: 0.5rem;
  object-fit: cover;
  object-position: center top;
}