.body-main {
    /* margin-top: var(--navbar-height); */
    padding-top: var(--navbar-height);
    padding-bottom: 3rem;
  }

.seccion{
    padding: 1rem;
}

/* .div-carrusel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
} */

/* .carrusel-lista{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
} */

.carrusel-elementos{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  /* padding: 1rem; */

  align-items: flex-start;
}



/* .img__description {
 
			

} */
.img-detalle:hover {
  visibility: visible;
  transition: 1s;
  opacity: 0.7;
}

.flexbox-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.imagen-ppal{
  height: 500px;
  align-items: stretch;
  
  object-fit: cover;
  object-position: center top;

}
.favorito{
  color: red;
  visibility: visible;
  opacity: 1;
  position: relative;
  display: inline-block;
  overflow: scroll;
  text-align: left;
  /* padding: 1rem;
  margin: 1rem; */
  bottom: 90%;
  right: 20%;
  background-color: lightyellow;
  opacity: 80%;
  width: 2rem;
  height: 2rem;
  transform: translate(1080%, -1485%);
}
.favorito:hover{
  transition: 1s;
  opacity: 0;
}

.img-detalle{
  height: 500px;
  width: 400px;
  /* align-self: stretch; */
  align-items: center; 
  padding: 0.5rem;
  object-fit: cover;
  object-position: center top;
}
.detalle{
  height: 500px;
  width: 400px;
  /* align-self: stretch; */
  align-items: center; 
  padding: 0.5rem;
  object-fit: cover;
  object-position: center top;
}

.texto-imagen {
  visibility: visible;
  opacity: 0;
  position: relative;
  display: inline-block;
  overflow: scroll;
  text-align: left;
  padding: 1rem;
  margin: 1rem;
  bottom: 0;
  right: 0;
  background-color: grey;
  color: white;
  width: 300px;
  height: 400px;
  transform: translate(0%, -115%);
}

.texto-imagen:hover {
  visibility: visible;
  transition: 2s;
  opacity: 0.8;
}

strong{
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
  
}